<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Comercial</title>
  <link rel="stylesheet" href="../src/styles.css">
  <link rel="stylesheet" href="../src/comercial.css">
  <link rel="stylesheet" href="../src/selector.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../src/components/select.js"></script>
  <script src="../src/components/tabela.js"></script>
  <main>
    <div id="comercial" class="comercial">
      <div id="app">
        <div class="breadcrumb">Inicio / Comercial</div>
        <div class="toolbar">
          <faj-select titulo="Mude para a unidade IEJI" :inputs="inputs" @conteudo="(e) => selector = e"></faj-select>
          <faj-select titulo="Mude para a unidade IEJI" :inputs="inputs" @conteudo="(e) => selector = e"></faj-select>
          <button class="filter--btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24" height="24" fill="white" fill-opacity="0.01"/>
              <path d="M14.8228 15.8831C13.7122 16.725 12.3234 17.114 10.9371 16.9714C9.55074 16.8287 8.27024 16.1651 7.35438 15.1146C6.43851 14.0642 5.95559 12.7052 6.00321 11.3123C6.05084 9.91947 6.62545 8.59663 7.61092 7.61116C8.59639 6.62569 9.91922 6.05108 11.3121 6.00346C12.7049 5.95584 14.0639 6.43876 15.1144 7.35462C16.1649 8.27048 16.8285 9.55098 16.9711 10.9373C17.1138 12.3237 16.7248 13.7125 15.8828 14.8231L18.5298 17.4701C18.8228 17.7631 19.0598 18.0601 18.5298 18.5301C17.9998 19.0001 17.7628 18.8231 17.4698 18.5301L14.8228 15.8831ZM11.4998 15.5001C12.5607 15.5001 13.5781 15.0786 14.3282 14.3285C15.0784 13.5783 15.4998 12.5609 15.4998 11.5001C15.4998 10.4392 15.0784 9.42177 14.3282 8.67162C13.5781 7.92148 12.5607 7.50005 11.4998 7.50005C10.4389 7.50005 9.42153 7.92148 8.67138 8.67162C7.92123 9.42177 7.49981 10.4392 7.49981 11.5001C7.49981 12.5609 7.92123 13.5783 8.67138 14.3285C9.42153 15.0786 10.4389 15.5001 11.4998 15.5001Z" fill="white"/>
            </svg>   
            Filtrar          
          </button>
        </div>
        <div class="tabs">
          <div class="tab selected">
            Premissas
          </div>
          <div class="tab">
            Despesas
          </div>
          <div class="tab">
            Investimento
          </div>
        </div>
        <div class="cards">
          <div class="card">
            <div class="top-bar">
              <span>total 2020</span>
              <span>16 de ago - 26</span>
            </div>
            <div class="value">
              <svg viewBox="0 0 56 18">
                <text x="0" y="15">458</text>
              </svg>   
            </div>
          </div>
          <div class="card">
            <div class="top-bar">
              <span>total 2020</span>
              <span>16 de ago - 26</span>
            </div>
            <div class="value">
              <svg viewBox="0 0 56 18">
                <text x="0" y="15">458</text>
              </svg>
            </div>
          </div>
          <div class="card">
            <div class="top-bar">
              <span>total 2020</span>
              <span>16 de ago - 26</span>
            </div>
            <div class="value">
              <svg viewBox="0 0 56 18">
                <text x="0" y="15">458</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="card--table">
          <div class="top-bar">
            <span>META EAD - GRADUAÇÃO</span>
            <a href="#card-table">Add Option</a>
          </div>
          <div class="disabled-color">Quantidade de novos alunos estimada para 2023-01</div>
          <faj-tabela  />
        </div>
      </div>
    </div>
  </main>
  <script>
    const { createApp } = Vue

    createApp({
      components: {
        "faj-select": fajSelect,
        "faj-tabela": tabela
      },
      data: () => ({
        inputs: [{ text: 'teste1', value: 'tedwast' }, { text: 'teste2', value: 'tedwadst' }, { text: 'teste3', value: 'tadest' }],
        selector: {},
        radio: null,
      })
    }).mount('#app')

    //app.component("fajSelect", fajSelect); // global registration - can be used anywhere
    //app.mount("#app");
  </script>
</body>

</html>