<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../src/styles.css">
    <link rel="stylesheet" href="../src/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main id="login">
      <div class="faj-container faj-login-container">
        <div class="faj-login">
          <img src="../assets/logo-simp.svg" alt="logotipo">
          <div class="subtext">Seu futuro na prática</div>
          <h1>Gestão da controladoria</h1>
          <form>
            <div class="login">
              <label for="login">Login</label>
              <input placeholder="login" name="login" type="text" autocomplete="username">
            </div>
            <div class="password">
              <label for="password">Password</label>
              <input placeholder="password" name="password" type="password" autocomplete="current-password">
            </div>
            <button class="button" type="submit">Acessar conta</button>
          </form>
          <h4><a href="#esqueceu">Esqueceu sua senha? <span>Solicitar nova senha</span></a></h4>
        </div>
      </div>
    </main>
  </body>
</html>