<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../src/styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div id="dash-sidenav" class="sidenav">
        <img src="../assets/logo.svg" alt="logotipo">
        <div class="active">
          <span class="ico">ico</span>
          <a href="#">About</a>
        </div>
        <div>
          <span class="ico">ico</span>
          <a href="#">About</a>
        </div>
      </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>