#app { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "logo header user"
    "nav section section";
	grid-template-rows: 80px 1fr;
	grid-template-columns: 240px 1fr;
	grid-gap: 0;
  height: 100vh;
  margin: 0;
}
.logo{
  grid-area: logo;
}
.user{
  grid-area: user;

  padding-right: 20px;

  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 1rem;
  align-items: center;

  &:focus,&:hover{
    outline: none;
    background-color: #012d49e7;
  }
  .data{
    text-align: right;
    h4{
      //styleName: Base 1 (Semibold);
      font-family: Inter;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.01em;
    }
    p{
      //styleName: Caption 2 (Medium);
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: -0.01em;
      
      color: #979797;
    }
  }
  .avatar{
    background: #FFD88D;
    border-radius: 48px;
    height: 48px;
    width: 48px;
  }
}
header {
	background: #707070;
	grid-area: header;

  display: flex;
  align-items: center;

  padding: 0 15px;

  #Search-field{
    position: relative;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 24px;

    border: 1px solid #024872;
    background: #012235;

    border-radius: 5px;
    overflow: hidden;

    max-width: 680px;
    width: 100%;

    padding: .5rem .75rem;

    &:has(:focus-within){
      border: 1px solid #E0B400;
    }

    svg{
      cursor:pointer;
    }

    input[type="text"]{
      border: none;
      height: 100%;
      width: 100%;
      background-color: transparent;
      color: white;
      &:focus{
        outline: none;
      }
    }
  }
}

nav {
	background: #C9BFBF;
	grid-area: nav; 
  overflow-y: auto;
  overflow-x: hidden;
  
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

    /* custom scrollbar */
    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(78, 93, 116, 0.5);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(78, 93, 116, 0.7);
    }
  .menu-item{
    display:grid;
    padding: 12px 24px;
    grid-template-columns: 24px 1fr;
    grid-template-areas: 
    "icon text";
    gap: 5px;

    &:hover, &:focus, &.active-link{
      background: rgba(78, 93, 116, 0.5);
      padding: 12px 24px 12px 20px;
      border-left: 4px solid #E0B400;
      outline: 0px !important;
    }

    .item-icon{
      grid-area: icon;
    }
    .item-text{
      grid-area: text;
      overflow: visible;
      p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        width: 163px;

        //styleName: Secundary - regular;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
      
    }
    .item-icon, .item-text {
      display: flex;
      align-items: center;
    }
  }
}

section {
	background: #e0e2e7;
	grid-area: section;   
  padding: 1.2rem; 
  overflow-y: scroll;
}

aside {
	background: #C9C9C9;
	grid-area: aside; 
}

footer {
	background: #707070;
	grid-area: footer;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

header, nav, aside, footer, .logo, .user {
  background: #012E49;
  color: #FFFFFF;
}
