@import "./_global.scss";

////////////////////////////////////////////////////////////////
//  login layout
////////////////////////////////////////////////////////////////

.faj-login-container {
  min-height: 100vh;
}

#login {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: linear-gradient(90deg, #002c48 44.92%, #053a5c 100%);
  @include bp("sm") {
    background-image: linear-gradient(
        90deg,
        #002c48 44.92%,
        rgba(32, 68, 122, 0.495) 100%
      ),
      url(../assets/images/login-bg-sm.png);
  }
  @include bp("lg") {
    background-image: linear-gradient(
      90deg,
      #002c48 44.92%,
      rgba(32, 68, 122, 0.495) 100%
    ),url(../assets/images/login-bg.png);
  }
  @include bp("xl") {
    background-size: cover;
  }
  width: 100%;
  min-height: 100vh;

  color: white;

  .faj-container {
    display: flex;
    align-items: center;

    .faj-login {
      width: 100%;

      img {
        height: 43px;
        width: 42px;
        margin-bottom: 2rem;
      }

      display: flex;
      //flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      form {
        width: 100%;
        max-width: 440px;
        .login,
        .password {
          margin-bottom: 0.75rem;
          padding: 0.5rem;
          padding-bottom: 0;
          border: 1px solid #00000000;
          background-color: #022840;
          height: 46px;
          width: 100%;
          max-width: calc(100% - 1rem);
          border-radius: 4px;

          &:focus-within {
            border: 1px solid #ffc629;
            box-shadow: 0px 0px 20px rgba(106, 100, 173, 0.3);
            label {
              font-size: 8px;
            }
          }

          input::placeholder {
            opacity: 0;
          }

          label {
            transition: all 0.3s;
            position: relative;
            bottom: 0;
            pointer-events: none;

            bottom: 5px;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 12px;
            /* identical to box height */
            color: rgba(255, 255, 255, 0.5);
          }
          input {
            transition: all 0.3s;
            color: white;
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            position: relative;
            &:focus {
              font-size: 19px;
              top: -5px;
            }
          }
        }
      }

      .button {
        background: #ffc629;
        border-radius: 8px;
        height: 46px;
        width: 100%;

        margin-top: 2rem;

        border: none;

        cursor: grab;
        user-select: none;

        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 600;
        text-align: left;
        word-break: break-word;
        @media screen and (max-width: 720px) {
          font-size: 2em;
        }
      }
      h4 {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.03em;
        text-align: left;

        color: rgba(255, 255, 255, 0.7);
        span {
          color: #e0b401;
        }
      }
      .subtext {
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.03em;
        text-align: left;
        line-height: 16px;
      }
    }
  }
}
