.faj-select {
  //styleName: Body / Regular;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  display: flex;
  align-items: center;
  gap: 1rem;

  /* Primary/White */
  background: #ffffff;
  /* Secondary/Gray 2 */
  border: 1px solid #e0e2e7;
  border-radius: 8px;
  padding: 12px 16px;
  max-width: max-content;
  position: relative;
  min-width: 220px;
  &:focus,
  &:focus-within {
    .faj-select--container {
      display: block;
    }
  }
  .faj-select--container {
    background: #ffffff;
    border: 1px solid #e0e2e7;
    border-radius: 8px;

    z-index: 2;

    .content {
      padding: 12px 16px 12px 16px;
      position: relative;
      
      .search-box{
        padding: 12px 16px 12px 16px;
        border: 1px solid #d3d5d9;
        &:focus-within{
          border: 1px solid black;
        }
        margin-bottom: .5rem;
        display: grid;
        grid-template-columns: 1fr 26px;

        border-radius: 6px;

        input[type="text"] {
          border: none;
          width: 100%;
          //styleName: Body / Regular;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          &:focus{
            outline: none;
          }
        }
        svg{
          display: flex;
          align-items: center;
          justify-content: center;
          
          padding: 5px 5px;
        }
      }
      label:has(input[type="radio"]:checked) {
        background: #F7F7F9;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      menu {
        text-align: left;
        position: relative;

        display: flex;
        flex-direction: column;
        gap: .35rem;
        label {
          //styleName: Body / Regular;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

          padding: 10px 10px;
          display: block;
          width: fill-available;
          border-radius: 6px;
          input[type="radio"] {
            opacity: 0;
          }
        }
      }
    }
    display: none;
    //flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    left: 0;
  }
}
