<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Comercial</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../assets/menu.js"></script>
  <script src="../components/layout.js"></script>
  <main>
    <div id="comercial" class="comercial">
      <div id="app">
        <layout>
          <div>teste</div>
        </layout>
      </div>
    </div>
  </main>
  <script>
    const { createApp } = Vue

    createApp({
      components: {
        layout: fajLayout
      }
    }).mount('#app')
  </script>
</body>

</html>